.content {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.news {
	> .news-position {
		> .media {
			width: 100%;
			> .pull-left {
				width: 20%;
				> img {
					width: 100%;
				}
			}
		}
	}
}