/* app css stylesheet */

body {
    font-size: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container .header .menu {
    width: 100%;
    font-weight: 700;
    background-color: rgb(31, 207, 223);
    padding: 10px 0;
}

.container .header .menu .item {
    padding: 10px 2%;
    margin: 0;
}

.container .header .menu .item:hover {
    background-color: rgb(118, 226, 238);
}