<form class="news-add" name="news" action="/admin/newsEdit" method="post">
	<input type="hidden" name="id" value="{{article.id}}"/>
	<label class="label-news">Tytuł</label>
	<input type="text" name="title" value="{{article.title}}"/>
	<label class="label-news">Opis</label>
	<textarea cols="50" rows="10" type="text" name="description">{{article.content}}</textarea>
	<label class="label-news">Autor</label>
	<input type="text" name="author" value="{{article.author}}"/>
	<button type="submit" class="btn btn-default">Zapisz</button>
</form>