$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

//static elements css'es
@import "./menu-bar.scss";
@import "./slideshow.scss";
@import "./services.scss";
@import "./news.scss";

/* app css stylesheet */

body {
    font-size: 20px;
}

.container .header .menu {
    width: 100%;
    font-weight: 700;
    background-color: rgb(31, 207, 223);
}

.container .header .menu .item {
    padding: 10px 2%;
    margin: 0;
}

.container .header .menu .item:hover {
    background-color: rgb(118, 226, 238);
}

.displayTable {
	display: table;
}

.margin-b-10 {
	margin-bottom: 10px;
}
.margin-b-20 {
	margin-bottom: 20px;
}
.margin-b-30 {
	margin-bottom: 30px;
}