.services {
	margin-left: 5%;
	> .table {
		display: table;
		> .row {
			display: table-row;
			> .cell {
				display: table-cell;
			}
		}
		> .regular-row:nth-child(2) {
			backgrund-color: #E7E7E7;
		}
		> .service-header {
			background-color: #68B7DE;
			border-color: #E7E7E7;
			border-radius: 4px;
		}
	}
}